


body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

  
.navigationbar{
    position: absolute;
    text-decoration: none;
    overflow: visible;
    margin-top: 18cm;
    margin-right: 65%;
   
    
  
    
    
    
  }
  nav ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 2cm;
    margin-left: 30cm;
    border: 1px solid black;
    width: 30%;
    padding: 1%;
    border-radius: 40px;
    overflow: visible;
    background-color: black;
   
   
   
  }
  nav a{
   
    text-decoration: none;
    color: aliceblue;
   
  }

.contact-information{
    position: relative;
    min-height: 95vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(images/images/city.jpg);
    background-size: cover;


}

.content{
    max-width: 800px;
    text-align: center;
}

h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

p{
    font-weight: 300;
    color: white;
}

.container{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.contactInfo{

    width: 50%;
    display: flex;
    flex-direction: column;

}

.box{

    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text{

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}

h3{
    font-weight: 300;
    color: blue;
}

.contactForm{

    width: 40%;
    padding: 40px;
    background-color: white;
}

h2{

    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.inputBox{

    position: relative;
    width: 100%;
    margin-top: 10px;
}

 .inputBox input
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
    
}

textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;

}

span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

:focus ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}

:valid ~ span{
    color:black;
    font-size: 12px;
    transform: translateY(-20px);
}

textarea:focus ~ span{
    color:black;
    font-size: 12px;
    transform: translateY(-20px);
}

textarea:valid ~ span{
    color:black;
    font-size: 12px;
    transform: translateY(-20px);
}

#submit{
    width: 100px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}




@media only screen and (max-width: 400px){



    body{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    
    .contact-information{
        position: relative;
        min-height: 100vh;
        padding: 50px ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(images/images/city.jpg);
        background-size: cover;
    
    }
    
    .content{
        max-width: 800px;
        text-align: center;
    }
    
    h2{
        font-size: 36px;
        font-weight: 500;
        color: white;
    }
    
    p{
        font-weight: 300;
        color: white;
    }
    
    .container{
    
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
    }
    
    
    .contactInfo{
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    
    .box{
    
        position: relative;
        padding: 20px 0;
        display: flex;
    }
    
    .icon{
        min-width: 60px;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;
    }
    
    .text{
    
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color:black;
        flex-direction: column;
        font-weight: 300;
    }
    
    h3{
        font-weight: 300;
        color: blue;
    }
    
    .contactForm{
    margin-bottom: 40px;
        width: 40%;
        padding: 40px;
        background-color: white;
    }
    
    h2{
    
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    
    .inputBox{
    
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    
    input,textarea{
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        resize: none;
    }
    
    span{
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        transition: 0.5s;
        color: #666;
    }
    
    :focus ~ span{
        color: red;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    :valid ~ span{
        color:black;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    textarea:focus ~ span{
        color:black;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    textarea:valid ~ span{
        color:black;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    #submit{
        width: 100px;
        background: #00bcd4;
        color: white;
        border: none;
        /* border: solid 1px; */
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }
    
    
    




    
}